/******************************
ESTILOS FOOTER: footer.css;
*******************************/
#footer {
	background-color: var(--colorPrimarioOscuro);
	color: var(--colorBlanco);
	display: grid;
	align-items: end;
	height: 12vh;
	padding: 0.7rem;
	width: 100%;

	@media (--tablet-h) {
		font-size: 1.3rem;
		height: 15vh;

	}

	& a {
		color: var(--colorBlanco);
		font-weight: bold;

		&:hover {
			color:var(--colorPpalClaro);
		}

	}
}
/**/