/******************************
ESTILOS MENU OFF-CANVAS OPERADOR: menu-off-canvas-operador.css;
*******************************/
#menu-off-canvas-operador {
	padding-top: 7rem;

	& a {
		color: var(--colorBlanco);
		font-size: responsive 1.5rem 1.8rem;
		margin: 1rem;
		outline: none;
		transition: all .35s ease;

		&:hover {
		color: var(--colorSec);
		transition: all .35s ease;
			
		}
	}	
}
/**/