/******************************
ESTILOS MENU OFF-CANVAS CLIENTE: menu-off-canvas-cliente.css;
*******************************/
#menu-off-canvas-cliente {
	padding-top: 7rem;

	& a {
		color: var(--colorBlanco);
		font-size: responsive 1.8rem 1.9rem;
		margin: 1rem;
		outline: none;
		transition: all .35s ease;

		&:hover {
		color: var(--colorSec);
		transition: all .35s ease;
			
		}
	}	
}
/**/