  
  <!-- ********** CONTENIDO -->
  <section id="cont-operador02" class="">    
    <div class="contenedor">
      <div class="off-canvas-wrapper">
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas data-transition="overlap">
         <!-- Tu menú o contenido fuera del lienzo va aquí -->
         @include('./partials/menu-off-canvas-operador.html')
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
          <!-- El contenido de la página va aquí -->
              
          <!-- ********* Sectores de Montevideo -->
          <div class="callout" id="sectores-mvdo">
            <h4>Sectores de Montevideo</h4>
            
            <!-- Contenedor Sectores -->
            <div class="row cont-sectores mt-2">
              
              <div class="small-12 medium-4 columns">                
                <div class="cont-sector-item">
                  <div class="nombre-sector">Sector 1</div>
                  <ul class="accordion" data-accordion="" data-allow-all-closed="true" role="tablist">
                    <li class="accordion-item" data-accordion-item="">
                      <!-- Título del panel del Acordeón -->
                      <a href="javascript:void(0);" class="accordion-title" aria-controls="dootdh-accordion" role="tab" id="dootdh-accordion-label" aria-expanded="false" aria-selected="false">Ver barrios</a>

                      <!-- Contenido del panel del acordeón. -->
                      <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="dootdh-accordion-label" aria-hidden="true" id="dootdh-accordion">
                        <p>Ciudad Vieja, Centro, Barrio Sur, Aguada, Cordón Este, Cordón Sur, Cordón Norte, Palermo, La Comercial, Parque Rodó, Goes, Villa Muñoz, Jacinto Vera, Figurita, Reducto, Krüger, Simón Bolívar, Brazo Oriental y La Comercial.</p>
                      </div>
                    </li>
                  </ul><!-- /.accordion -->                 
                  
                  <hr>
                  <div class="nombre-medico">Médicos asignados</div>
                  <ul class="no-bullet">
                    <li>Agustín Codazzi</li>
                    <li>Ana Romanov</li>
                    <li>Juan García</li>
                  </ul>
                  <i class="fa fa-pencil fa-2x" aria-hidden="true" data-open="editar-sector"></i>
                </div>
              </div>

              <div class="small-12 medium-4 columns">
                <div class="cont-sector-item">
                  <div class="nombre-sector">Sector 2</div>
                  <ul class="accordion" data-accordion="" data-allow-all-closed="true" role="tablist">
                    <li class="accordion-item" data-accordion-item="">
                      <!-- Título del panel del Acordeón -->
                      <a href="javascript:void(0);" class="accordion-title" aria-controls="dootdh-accordion" role="tab" id="dootdh-accordion-label" aria-expanded="false" aria-selected="false">Ver barrios</a>

                      <!-- Contenido del panel del acordeón. -->
                      <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="dootdh-accordion-label" aria-hidden="true" id="dootdh-accordion">
                        <p>La Blanqueada Sur, Congreso de Tres Cruces, Pque. Batlle Este, Libertad, Larrañaga, Punta Carretas, Villa Biarritz, Trouville, Pocitos, Pocitos Nuevo, Puerto Buceo, Pque. Batlle Sur, Villa Dolores, Malvín Norte, Unión, Villa Española, Mercado modelo y La Blanqueada Este.</p>
                      </div>
                    </li>
                  </ul><!-- /.accordion -->                 
                  
                  <hr>
                  <div class="nombre-medico">Médicos asignados</div>
                  <ul class="no-bullet">
                    <li>Roberto Capriles</li>
                    <li>Osiris Guarecuco</li>
                    <li>José Martínez</li>
                  </ul>
                  <i class="fa fa-pencil fa-2x" aria-hidden="true" data-open="editar-sector"></i>
                </div>
              </div>

              <div class="small-12 medium-4 columns">
                <div class="cont-sector-item">
                  <div class="nombre-sector">Sector 3</div>
                  <ul class="accordion" data-accordion="" data-allow-all-closed="true" role="tablist">
                    <li class="accordion-item" data-accordion-item="">
                      <!-- Título del panel del Acordeón -->
                      <a href="javascript:void(0);" class="accordion-title" aria-controls="dootdh-accordion" role="tab" id="dootdh-accordion-label" aria-expanded="false" aria-selected="false">Ver barrios</a>

                      <!-- Contenido del panel del acordeón. -->
                      <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="dootdh-accordion-label" aria-hidden="true" id="dootdh-accordion">
                        <p>Buceo, Malvín Nuevo, Malvín, Punta Gorda,  La Cruz, Cooperativas de Viviendas, Jardines, Canteras, Fortuna, Carrasco Norte, Carrasco Sur, Parque Rivera, Curva de Maroñas, Flor de Maroñas, Jardines del Hipódromo, Ideal, Bella Italia, Málaga, Ituzaingó, Punta de Rieles, Km 16 Cno. Maldonado y Villa García.</p>
                      </div>
                    </li>
                  </ul><!-- /.accordion -->                 
                  
                  <hr>
                  <div class="nombre-medico">Médicos asignados</div>
                  <ul class="no-bullet">
                    <li>Juan Landaeta</li>
                    <li>Wilka MacGregor</li>
                    <li>Aria Cabrera</li>
                  </ul>
                  <i class="fa fa-pencil fa-2x" aria-hidden="true" data-open="editar-sector"></i>
                </div>
              </div>

              <div class="small-12 medium-4 columns">
                <div class="cont-sector-item">
                  <div class="nombre-sector">Sector 4</div>
                  <ul class="accordion" data-accordion="" data-allow-all-closed="true" role="tablist">
                    <li class="accordion-item" data-accordion-item="">
                      <!-- Título del panel del Acordeón -->
                      <a href="javascript:void(0);" class="accordion-title" aria-controls="dootdh-accordion" role="tab" id="dootdh-accordion-label" aria-expanded="false" aria-selected="false">Ver barrios</a>

                      <!-- Contenido del panel del acordeón. -->
                      <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="dootdh-accordion-label" aria-hidden="true" id="dootdh-accordion">
                        <p>Manga, Piedras Blancas, Bola de Nieva, Boizo Lanza, Toledo Chico, Barrio Franco, Transatlántico, Barrio Cirilo, Plus Ultra, Buenos Aires, La Selva, Pérez Castellanos, Cerrito, Porvenir, Plácido Ellauri, Marconi, Casavalle, Borro, Bonomi, Municipal Instrucciones, Jardines de Instrucciones, Fraternidad, Cópola, Las Acacias, Colón, Lezica, Melilla, Abayubá, Cuchilla Pereyra y San Bartolo.</p>
                      </div>
                    </li>
                  </ul><!-- /.accordion -->                 
                  
                  <hr>
                  <div class="nombre-medico">Médicos asignados</div>
                  <ul class="no-bullet">
                    <li>Rafael Marín</li>
                    <li>Gregorio Hernández</li>
                    <li>Paola Vargas</li>
                  </ul>
                  <i class="fa fa-pencil fa-2x" aria-hidden="true" data-open="editar-sector"></i>
                </div>
              </div>

              <div class="small-12 medium-4 columns">
                <div class="cont-sector-item">
                  <div class="nombre-sector">Sector 5</div>
                  <ul class="accordion" data-accordion="" data-allow-all-closed="true" role="tablist">
                    <li class="accordion-item" data-accordion-item="">
                      <!-- Título del panel del Acordeón -->
                      <a href="javascript:void(0);" class="accordion-title" aria-controls="dootdh-accordion" role="tab" id="dootdh-accordion-label" aria-expanded="false" aria-selected="false">Ver barrios</a>

                      <!-- Contenido del panel del acordeón. -->
                      <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="dootdh-accordion-label" aria-hidden="true" id="dootdh-accordion">
                        <p>Sayago, Conciliación, Peñarol, Millán y Lecocq, Barrio Lavalleja, Prado Chico, Prado Norte, Prado Norte, Sayago Oeste, Paso Molino, Belvedere, La Teja, Pueblo Victoria, Tres Ombues, Nuevo París, Villa Teresa, Joanicó, San Lorenzo, Cerrito, Aires Puros, Paso de las Duranas, Prado, Atahualpa, Solís, Nueva Savona, Cristóbal Colón y Pque. Posadas.</p>
                      </div>
                    </li>
                  </ul><!-- /.accordion -->                 
                  
                  <hr>
                  <div class="nombre-medico">Médicos asignados</div>
                  <ul class="no-bullet">
                    <li>Verónica Aular</li>
                    <li>Carlos Villasmil</li>
                    <li>Pedro Guerra</li>
                  </ul>
                  <i class="fa fa-pencil fa-2x" aria-hidden="true" data-open="editar-sector"></i>
                </div>
              </div>

              <div class="small-12 medium-4 columns">
                <div class="cont-sector-item">
                  <div class="nombre-sector">Sector 6</div>
                  <ul class="accordion" data-accordion="" data-allow-all-closed="true" role="tablist">
                    <li class="accordion-item" data-accordion-item="">
                      <!-- Título del panel del Acordeón -->
                      <a href="javascript:void(0);" class="accordion-title" aria-controls="dootdh-accordion" role="tab" id="dootdh-accordion-label" aria-expanded="false" aria-selected="false">Ver barrios</a>

                      <!-- Contenido del panel del acordeón. -->
                      <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="dootdh-accordion-label" aria-hidden="true" id="dootdh-accordion">
                        <p>Arroyo Seco, Bella Vista, 19 de Abril, Prado Sur, Capurro, Paso de la Arena, Santiago Vázquez, Los Bulevares, Barrio Sarandí, Barrio 3 de Abril, Punta Espinillo, La Colorada, Casco del Cerro, Casabó, Pajas Blancas, Santa Catalina, Cerro Norte, La Boyada, Cerro Oeste y Zona Rural.</p>
                      </div>
                    </li>
                  </ul><!-- /.accordion -->                 
                  
                  <hr>
                  <div class="nombre-medico">Médicos asignados</div>
                  <ul class="no-bullet">
                    <li>Arturo Péndragon</li>
                    <li>Estefanía Muller</li>
                    <li>Patricia Valladares</li>
                  </ul>
                  <i class="fa fa-pencil fa-2x" aria-hidden="true" data-open="editar-sector"></i>
                </div>
              </div>
                           

            </div><!-- /.Contenedor Sectores -->
          </div><!-- /.Sectores de Montevideo -->          
        
          <center class="mt-2">
            <a class="button hollow primary" href="operador01.html"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver</a>
          </center>

          <!-- MODALS **************** -->
          <div class="reveal modal-editar-sector" id="editar-sector" data-reveal>
            <h4>Editar Sector</h4>
            <hr>
            <div class="row">

              <!-- Barrios -->
              <div class="columns small-12 medium-6">
                <h5>Barrios del Sector</h5>
                <ul class="accordion" data-accordion="" data-allow-all-closed="true" role="tablist">
                  <li class="accordion-item" data-accordion-item="">                
                    <!-- Título del panel del Acordeón -->
                    <a href="javascript:void(0);" class="accordion-title" aria-controls="dootdh-accordion" role="tab" id="dootdh-accordion-label" aria-expanded="false" aria-selected="false">Ver barrios</a>

                    <!-- Contenido del panel del acordeón. -->
                    <div class="accordion-content" style="padding: 0 2rem;" data-tab-content>
                      <ol>
                        <li>Aguada &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                        <li>Barrio Sur &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                        <li>Centro &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                        <li>Ciudad Vieja &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                        <li>Cordón Este &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                        <li>Cordón Norte &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                        <li>Cordón Sur &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                        <li>Figurita &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                        <li>Goes &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                        <li>Jacinto Vera &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                        <li>Krüger &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                        <li>La Comercial &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                        <li>La Comercial &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                        <li>Palermo &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                        <li>Parque Rodó &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                        <li>Reducto &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                        <li>Simón Bolívar &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                        <li>Villa Muñoz &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                      </ol>
                    </div>
                  </li>
                </ul>
                <br>
                <!-- Agregar barrio -->
                <form>
                  <legend class="label-select texto-blanco"><h5>Agregar barrio</h5></legend>
                  <select id="agregar-barrios" required class="js-example-responsive" style="width: 100%">
                    @include('./partials/opciones-medicos.html')
                  </select>
                  <br>
                  <a href="javascript:void(0);" class="button success expanded">Agregar <i class="fa fa-check" aria-hidden="true"></i></a>                  
                </form>                
              </div>

              <!-- Médicos -->
              <div class="columns small-12 medium-6">
                <h5>Médicos del Sector</h5>
                <ol class="p-2">
                  <li><b>Agustín Codazzi</b> &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                  <li><b>Ana Romanov</b> &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                  <li><b>Juan García</b> &nbsp;&nbsp;&nbsp;<span class=""><i class="fa fa-times borrar"></i></span></li>
                </ol>
                <!-- Agregar médico -->
                <form>
                  <legend class="label-select texto-blanco"><h5>Agregar Médico</h5></legend>
                  <select id="agregar-medico" required class="js-example-responsive" style="width: 100%">
                    @include('./partials/opciones-medicos.html')
                  </select>
                  <br>
                  <button class="button success expanded">Agregar <i class="fa fa-check" aria-hidden="true"></i></button>                  
                </form>
              </div>

            </div>

            <button class="close-button" data-close aria-label="Cerrar modal" type="button">
              <span aria-hidden="true">×</span>
            </button>
            <button class="button expanded" data-close>GUARDAR CAMBIOS <i class="fa fa-check" aria-hidden="true"></i></button>
          </div><!-- /.modal-sector --> 

        </div><!-- /.off-canvas-content -->
      </div><!-- /.off-canvas-wrapper -->
    </div><!-- /.contenedor -->
  </section>
  <!-- /. CONTENIDO -->