  <!-- ********** CONTENIDO -->
  <section id="cont-operador01" class="">    
    <div class="contenedor">

      <div class="off-canvas-wrapper">
        
        <!-- Contenedor del menú off-canvas -->
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas data-transition="overlap">
         <!-- Tu menú o contenido fuera del lienzo va aquí -->
         @include('./partials/menu-off-canvas-operador.html')
        </div><!-- /.Contenedor del menú off-canvas -->
        
        <!-- El contenido de la página comienza aquí -->
        <div class="off-canvas-content" data-off-canvas-content>
          
          <!-- Cabecera -->
          <div class="row mb-2">
            <div class="small-12 medium-6 columns">
              @include('./partials/perfil-operador.html')
            </div>
            <div class="small-12 medium-6 columns">
              <p class="fecha-hora">@include('./partials/fecha-hora.html')</p>      
            </div>
          </div><!-- /.cabecera -->

          <!-- Datos suministrados por la empresas afiliadas -->
          <div class="row">

            <!-- Listado de empresas que reportan ese día -->
            <div class="small-12 medium-5">
              <h3>Listado de empresas que reportan</h3>
              <ul class="menu vertical">
                  <li><a onclick="document.getElementById('contenedor-tabla').innerHTML = '<br><br><center><big><b>Listado por Empresa/Cliente</b></big></center><p>Aquí deberá aparecer la tabla modificada para mostrar tan sólo a los funcionarios de la compañia seleccionada.</p>'">Almacenes Juan Pinto S.R.L. <span class="badge warning">10</span> </a></li>
                  <li><a onclick="document.getElementById('contenedor-tabla').innerHTML = '<br><br><center><big><b>Listado por Empresa/Cliente</b></big></center><p>Aquí deberá aparecer la tabla modificada para mostrar tan sólo a los funcionarios de la compañia seleccionada.</p>'">Estación de Servicio Las Piedras S.R.L. <span class="badge warning">1</span></a></li>
                  <li><a onclick="document.getElementById('contenedor-tabla').innerHTML = '<br><br><center><big><b>Listado por Empresa/Cliente</b></big></center><p>Aquí deberá aparecer la tabla modificada para mostrar tan sólo a los funcionarios de la compañia seleccionada.</p>'">Imprenta Express S.A. <span class="badge warning">3</span></a></li>
                  <li><a onclick="document.getElementById('contenedor-tabla').innerHTML = '<br><br><center><big><b>Listado por Empresa/Cliente</b></big></center><p>Aquí deberá aparecer la tabla modificada para mostrar tan sólo a los funcionarios de la compañia seleccionada.</p>'">Instituto de Formación Empresarial S.R.L. <span class="badge warning">3</span></a></li>
                  <li><a onclick="document.getElementById('contenedor-tabla').innerHTML = '<br><br><center><big><b>Listado por Empresa/Cliente</b></big></center><p>Aquí deberá aparecer la tabla modificada para mostrar tan sólo a los funcionarios de la compañia seleccionada.</p>'">Seguros Nuevo Mundo S.A. <span class="badge warning">4</span></a></li>
                  <li><a onclick="document.getElementById('contenedor-tabla').innerHTML = '<br><br><center><big><b>Listado por Empresa/Cliente</b></big></center><p>Aquí deberá aparecer la tabla modificada para mostrar tan sólo a los funcionarios de la compañia seleccionada.</p>'">Supermercado Oriental S.R.L. <span class="badge warning">2</span></a></li>
                  <li><a onclick="document.getElementById('contenedor-tabla').innerHTML = '<br><br><center><big><b>Listado por Empresa/Cliente</b></big></center><p>Aquí deberá aparecer la tabla modificada para mostrar tan sólo a los funcionarios de la compañia seleccionada.</p>'">Tanqueros Unidos S.A. <span class="badge warning">2</span></a></li>
                  <li><a onclick="document.getElementById('contenedor-tabla').innerHTML = '<br><br><center><big><b>Listado por Empresa/Cliente</b></big></center><p>Aquí deberá aparecer la tabla modificada para mostrar tan sólo a los funcionarios de la compañia seleccionada.</p>'">Zabala & Asociados S.A. <span class="badge warning">5</span></a></li>
              </ul>
              <!-- Grupo de Botones -->
              <div class="button-group expanded mt-4" style="padding-right: 1rem;">
                <a class="button large" onclick="document.getElementById('contenedor-tabla').innerHTML = '<br><br><center><big><b>Listado Sectorizado</b></big></center><p>Aquí deberá aparecer la tabla modificada para mostrar a los funcionarios reportados, ya <b>organizados por sectores</b>.</p>'"><i class="fa fa-map fa-lg"></i>  Sectorizar</a>
                <a class="button success large" id="enviar-listado"> <i class="fa fa-send fa-lg"></i> Enviar </a>              
              </div>
            </div><!-- /.Listado de empresas que reportan ese día -->


            <!-- Funcionarios reportados -->
            <div class="small-12 medium-7">
              <h3>Total funcionarios reportados <span class="badge warning">30</span></h3>              
              <div class="contenedor-tabla mt-1 mb-1" id="contenedor-tabla">
               @include('./partials/tabla-operador01.html')
              </div>
            </div><!-- /.Funcionarios reportados -->
          </div>
          <!-- /.Datos suministrados por la empresas afiliadas -->

        </div><!-- /.off-canvas-content -->
        <!-- /.El contenido de la página llega hasta aquí -->
      </div><!-- /.off-canvas-wrapper -->
    </div><!-- /.contenedor -->
  </section>
  <!-- /. CONTENIDO -->