  <!-- ********** CONTENIDO -->
  <section id="cont-admon01" class="bg-ppal">    
    <div class="contenedor">
      <center>
        <img class="logo" src="./assets/img/logo.png" alt="Logo">
        <span class="logotipo"><i>SIRE<span class="logotipo2">APP</span></i></span>    
      </center>
      <!-- El contenido de la página va aquí -->
      <p class="text-center white">@include('./partials/fecha-hora.html')</p>
      <p class="text-center title1-admon">1ª Cia. "Bomba Coquimbo"</p>

      <div class="" id="cont-perfil-admon">@include('./partials/perfil-admon.html')</div>

      <center>
        <p class="title2-admon" data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Haga click sobre el nombre para ir a la emergencia que se desee">Emergencias Asignadas</p>            
      </center>
          
      <div class="row mt-2">

        <div class="small-12 medium-6 columns">
          <a href="cia02.html">
            <div class="callout menu-card">
              <p class="text-center">
                Aqui iba el parcial de emergencia1<br>
                <small>2ª emergencia de este tipo atendida en 2018</small>
              </p>
              
            </div>                
          </a>
        </div>

        <div class="small-12 medium-6 columns">
          <a href="#">
            <div class="callout menu-card">
              <p class="text-center">
                Aqui iba el parcial de emergencia2<br>
                <small>10ª emergencia de este tipo atendida en 2018</small>
              </p>
              
            </div>                
          </a>
        </div>
      </div><!-- /.row -->
      <br>
      <p class="text-center texto-blanco"><strong>25 emergencias</strong> antendidas durante el 2018</p>
      <br>
      <center class="">
        <p class="title2-admon" data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Esté menú permite ingresar en el área administrativa de la APP">Herramientas Administrativas</p>            
      </center>

      <div class="menu align-center">
        <li class="menu-item texto-blanco"><a href="cliente03.html"><img src="assets/img/icono-bomberos.svg" alt="Icono bombero"> &nbsp;&nbsp;Personal</a></li>
        <li class="menu-item texto-blanco"><a href="admon04.html"><img src="assets/img/icono-carro.svg" alt="Icono carro"> &nbsp;&nbsp;Carros</a></li>        
      </div>
      <br><br>
    </div><!-- /.contenedor -->
  </section>
  <!-- /. CONTENIDO -->