        <!-- ********** MENU OFF-CANVAS OPERADOR -->
        <div id="menu-off-canvas-operador">
          <ul class="vertical menu">
            <li><a href="operador01.html"><i class="fa fa-crosshairs fa-lg" aria-hidden="true"></i> Datos y Ubicación</a></li>
            <li><a href="operador02.html"><i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i> Asignar Compañía</a></li>
            <li><a href="operador03.html"><i class="fa fa-microphone fa-lg" aria-hidden="true"></i> Claves Radiales</a></li>
            <li><a href="index.html"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Salir</a></li>
          </ul>          
        </div>
        <!-- /. MENU OFF-CANVAS OPERADOR -->