        <!-- ********** MENU OFF-CANVAS CLIENTE -->
        <div id="menu-off-canvas-cliente">
          <ul class="menu vertical">
          	<li><a href="cliente01.html"><i class="fa fa-home fa-lg" aria-hidden="true"></i> Inicio</a></li>
          	<li><a href="cliente03.html"><i class="fa fa-users fa-lg" aria-hidden="true"></i> Funcionarios</a></li>          	
            <li><a href="index.html"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> &nbsp;Salir</a></li>
          </ul>        
        </div>
        <!-- /. MENU OFF-CANVAS CLIENTE -->