        <!-- ********** MENU OFF-CANVAS BOMBERO -->
        <div id="menu-off-canvas-bombero">
          <ul class="menu">
          	<li><a href="bombero01.html"><i class="fa fa-home fa-lg" aria-hidden="true"></i> Inicio</a></li>
            <li><a href="bombero02.html"><i class="fa fa-edit fa-lg" aria-hidden="true"></i> Actualizar Perfil</a></li>
            <li><a href="bombero03.html"><i class="fa fa-file-text fa-lg" aria-hidden="true"></i> Ver Historial</a></li>
            <li><a href="index.html"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Salir</a></li>
          </ul>        
        </div>
        <!-- /. MENU OFF-CANVAS BOMBERO -->