        <!-- ********** MENU OFF-CANVAS COMPAÑIA -->
        <div id="menu-off-canvas-cia">
          <ul class="vertical menu">
            <li><a href="cia02.html">@include('./partials/icono-ubicacion.html') Ubicación</a></li>
            <li><a href="cia03.html">@include('./partials/icono-afectados.html') Afectados</a></li>
            <li><a href="cia04.html">@include('./partials/icono-apoyo.html') Apoyo</a></li>
            <li><a href="cia05.html">@include('./partials/icono-caracteristicas.html') Características</a></li>
            <li><a href="cia06.html">@include('./partials/icono-carro.html') Carros Asignados</a></li>
            <li><a href="cia07.html">@include('./partials/icono-bomberos.html') Bomberos</a></li>
            <li><a href="cia08.html">@include('./partials/icono-bomberos-l.html') B. Lesionados</a></li>
            <li style="margin-top: .5rem"><a href="index.html"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>&nbsp; Salir</a></li>
          </ul>          
        </div>
        <!-- /. MENU OFF-CANVAS COMPAÑIA -->