        <!-- ********** MENU OFF-CANVAS OPERADOR -->
        <div id="menu-off-canvas-operador">
          <ul class="vertical menu">
            <li><a href="operador01.html"><i class="fa fa-home fa-lg" aria-hidden="true"></i> Inicio</a></li>
            <li><a href="operador02.html"><i class="fa fa-street-view fa-lg" aria-hidden="true"></i> Sectores</a></li>            
            <li><a href="index.html"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Salir</a></li>
          </ul>          
        </div>
        <!-- /. MENU OFF-CANVAS OPERADOR -->