<!-- Modal para borrar funcionario -->
			<div class="reveal tiny" id="modal-borrar-funcionario" data-reveal>
				<br>
				<h4>Borrar Funcionario</h4>
				<p>Por favor ingrese los datos del funcionario</p>
				<br>
				<form>
					<div class="group">      
						<input class="m" type="text" required value="" id="nombre-apellido-borrar">
						<span class="highlight"></span>
						<span class="bar"></span>
						<label class="m" for="nombre-apellido-borrar">Nombre y Apellido</label>
					</div>
					<div class="group">      
						<input class="m" type="text" required value="" id="codigo-para-borrar">
						<span class="highlight"></span>
						<span class="bar"></span>
						<label class="m" for="codigo-para-borrar">Código Funcionario</label>
					</div>
					<a class="button expanded" id="confirmar-borrar-funcionario">Aceptar</a>
				</form>
				<center><a href="cliente03.html" title="Ir al listado">Ir al listado de funcionarios</a></center>
				<button class="close-button" data-close aria-label="Cerrar modal" type="button">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<!-- /.Modal para borrar funcionario -->