  <!-- ********** NAVBAR OPERADOR -->
  <section id="navbar-operador" class="bg-sec">
    <div class="contenedor" style="position: relative;">      
      <div class="top-bar row">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">
              <img class="logo" src="./assets/img/logo.png" alt="Logo" vspace="3">
              <span class="logotipo"><i>SIRE<span class="logotipo2">APP</span></i></span>
            </li>
          </ul>
        </div>
        <div class="top-bar-right show-for-large">
          <ul class="menu">
            <li><a href="operador01.html"><i class="fa fa-crosshairs fa-lg" aria-hidden="true"></i> Datos y Ubicación</a></li>
            <li><a href="operador02.html"><i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i> Asignar Compañía</a></li>
            <li><a href="operador03.html"><i class="fa fa-microphone fa-lg" aria-hidden="true"></i> Claves Radiales</a></li>
            <li><a href="index.html"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Salir</a></li>
          </ul>
        </div>
        <div class="btn-menu hide-for-large">
          <i class="fa fa-bars fa-lg" data-toggle="offCanvas"></i>
        </div>
      </div> <!-- /.top-bar -->   
    </div> <!-- /.contenedor -->
  </section>
  <!-- /. NAVBAR OPERADOR -->