  <!-- ********** NAVBAR COMPAÑIA -->
  <section id="navbar-cia" class="bg-sec">
    <div class="contenedor" style="position: relative;">      
      <div class="top-bar row">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">
              <img class="logo" src="./assets/img/logo.png" alt="Logo" vspace="3">
              <span class="logotipo"><i>SIRE<span class="logotipo2">APP</span></i></span>
            </li>
          </ul>
        </div>
        <!-- <div class="top-bar-right show-for-large">
          <ul class="menu">
            <li><a href="">@include('./partials/icono-ubicacion.html') Ubicación</a></li>
            <li><a href="">@include('./partials/icono-afectados.html') Afectados</a></li>
            <li><a href="">@include('./partials/icono-apoyo.html') Apoyo</a></li>
            <li><a href="">@include('./partials/icono-caracteristicas.html') Características</a></li>
            <li><a href="">@include('./partials/icono-carro.html') Carros Asignados</a></li>
            <li><a href="">@include('./partials/icono-bomberos.html') Bomberos</a></li>
            <li><a href="">@include('./partials/icono-bomberos-l.html') B. Lesionados</a></li>
            <li><a href="index.html"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Salir</a></li>
          </ul>
        </div> -->
        <div class="btn-menu">
          <i class="fa fa-bars fa-2x" data-toggle="offCanvas"></i>
        </div>
      </div> <!-- /.top-bar -->   
    </div> <!-- /.contenedor -->
  </section>
  <!-- /. NAVBAR COMPAÑIA -->