
	<!-- ********** NAVBAR OPERADOR -->
	<section id="navbar-cliente" class="bg-sec">
		<div class="contenedor" style="position: relative;">      
			<div class="top-bar row">
				<div class="top-bar-left">
					<ul class="menu">
						<li class="menu-text">
							<img class="logo" src="./assets/img/logo.svg" alt="Logo" vspace="3">
						</li>
					</ul>
				</div>
				<div class="top-bar-right show-for-large">
					<ul class="menu">
						<li><a href="operador01.html"><i class="fa fa-home fa-lg" aria-hidden="true"></i> Inicio</a></li>
						<li><a href="operador02.html"><i class="fa fa-street-view fa-lg" aria-hidden="true"></i> Sectores</a></li>            
						<li><a href="index.html"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Salir</a></li>
					</ul>
				</div>
				<div class="btn-menu hide-for-large">
					<i class="fa fa-bars fa-lg" data-toggle="offCanvas"></i>
				</div>
			</div> <!-- /.top-bar -->   
		</div> <!-- /.contenedor -->
	</section>
	<!-- /. NAVBAR OPERADOR -->