  <!-- ********** NAVBAR BOMBERO -->
  <section id="navbar-bombero" class="bg-sec">
    <div class="contenedor" style="position: relative;">      
      <div class="top-bar row">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">
              <img class="logo" src="./assets/img/logo.png" alt="Logo" vspace="3">
              <span class="logotipo"><i>SIRE<span class="logotipo2">APP</span></i></span>
            </li>
          </ul>
        </div>
        <div class="top-bar-right show-for-large">
          <ul class="menu">
            <li><a href="bombero01.html"><i class="fa fa-home fa-lg" aria-hidden="true"></i> Inicio</a></li>
            <li><a href="bombero02.html"><i class="fa fa-edit fa-lg" aria-hidden="true"></i> Actualizar Perfil</a></li>
            <li><a href="bombero03.html"><i class="fa fa-file-text fa-lg" aria-hidden="true"></i> Ver Historial</a></li>
            <li><a href="index.html"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Salir</a></li>
          </ul>
        </div>
        <div class="btn-menu hide-for-large">
          <i class="fa fa-bars fa-lg" data-toggle="offCanvas"></i>
        </div>
      </div> <!-- /.top-bar -->   
    </div> <!-- /.contenedor -->
  </section>
  <!-- /. NAVBAR BOMBERO -->