<option value="1">Abayubá</option>
<option value="2">Aguada</option>
<option value="3">Aires Puros</option>
<option value="4">Arroyo Seco</option>
<option value="5">Atahualpa</option>
<option value="6">Bañados de Carrasco</option>
<option value="7">Barrio Sur</option>
<option value="8">Bella Italia</option>
<option value="9">Bella Vista</option>
<option value="10">Belvedere</option>
<option value="11">Brazo Oriental</option>
<option value="12">Buceo</option>
<option value="13">Capurro</option>
<option value="14">Carrasco</option>
<option value="15">Carrasco Norte</option>
<option value="16">Casabó, Pajas Blancas</option>
<option value="17">Casavalle</option>
<option value="18">Castro</option>
<option value="19">Centro</option>
<option value="20">Cerrito de la Victoria</option>
<option value="21">Ciudad Vieja</option>
<option value="22">Colón Centro y Noroeste</option>
<option value="23">Colón Sureste</option>
<option value="24">Conciliación</option>
<option value="25">Cordón</option>
<option value="26">Flor de Maroñas</option>
<option value="27">Goes</option>
<option value="28">Ituzaingó</option>
<option value="29">Jacinto Vera</option>
<option value="30">Jardines del Hipódromo</option>
<option value="31">La Blanqueada</option>
<option value="32">La Comercial</option>
<option value="33">La Figurita</option>
<option value="34">La Mondiola</option>
<option value="35">La Paloma</option>
<option value="36">La Teja</option>
<option value="37">Larrañaga</option>
<option value="38">Las Acacias</option>
<option value="39">Las Canteras</option>
<option value="40">Lavalleja</option>
<option value="41">Lezica</option>
<option value="42">Malvín</option>
<option value="43">Malvín Norte</option>
<option value="44">Manga</option>
<option value="45">Manga</option>
<option value="46">Manga Rural</option>
<option value="47">Maroñas</option>
<option value="48">Melilla</option>
<option value="49">Mercado Modelo, Bolívar</option>
<option value="50">Nueva Savona</option>
<option value="51">Nuevo París</option>
<option value="52">Palermo</option>
<option value="53">Parque Batlle</option>
<option value="54">Parque Guaraní</option>
<option value="55">Parque Rodó</option>
<option value="56">Paso de la Arena</option>
<option value="57">Paso de las Duranas</option>
<option value="58">Paso Molino</option>
<option value="59">Peñarol</option>
<option value="60">Pérez Castellanos</option>
<option value="61">Piedras Blancas</option>
<option value="62">Pocitos</option>
<option value="63">Prado</option>
<option value="64">Pueblo Victoria</option>
<option value="65">Punta Carretas</option>
<option value="66">Punta de Rieles</option>
<option value="67">Punta Gorda</option>
<option value="68">Reducto</option>
<option value="69">Retiro</option>
<option value="70">Santiago Vázquez</option>
<option value="71">Sayago</option>
<option value="72">Toledo Chico</option>
<option value="73">Tomkinson</option>
<option value="74">Tres Cruces</option>
<option value="75">Tres Ombúes</option>
<option value="76">Unión</option>
<option value="77">Villa del Cerro</option>
<option value="78">Villa Dolores</option>
<option value="79">Villa Española</option>
<option value="80">Villa García</option>
<option value="81">Villa Muñoz</option>
