<option value='1'>Aguada</option>
<option value='2'>Aires Puros</option>
<option value='3'>Atahualpa</option>
<option value='4'>Bañados de Carrasco</option>
<option value='5'>Barrio Sur</option>
<option value='6'>Belvedere, Paso Molino</option>
<option value='7'>Brazo Oriental</option>
<option value='8'>Buceo</option>
<option value='9'>Capurro, Bella Vista, Arroyo Seco</option>
<option value='10'>Carrasco</option>
<option value='11'>Carrasco Norte</option>
<option value='12'>Casabó, Pajas Blancas</option>
<option value='13'>Casavalle</option>
<option value='14'>Castro, Pérez Castellanos</option>
<option value='15'>Centro</option>
<option value='16'>Cerrito de la Victoria</option>
<option value='17'>Ciudad Vieja</option>
<option value='18'>Colón Centro y Noroeste</option>
<option value='19'>Colón Sureste, Abayubá</option>
<option value='20'>Conciliación</option>
<option value='21'>Cordón</option>
<option value='22'>Flor de Maroñas</option>
<option value='23'>Ituzaingó</option>
<option value='24'>Jacinto Vera</option>
<option value='25'>Jardines del Hipódromo</option>
<option value='26'>La Blanqueada</option>
<option value='27'>La Comercial</option>
<option value='28'>La Figurita</option>
<option value='29'>La Paloma, Tomkinson</option>
<option value='30'>La Teja</option>
<option value='31'>Larrañaga</option>
<option value='32'>Las Acacias</option>
<option value='33'>Las Canteras</option>
<option value='34'>Lezica, Melilla</option>
<option value='35'>Malvín</option>
<option value='36'>Malvín Norte</option>
<option value='37'>Manga</option>
<option value='38'>Manga, Toledo Chico</option>
<option value='39'>Maroñas, Parque Guaraní</option>
<option value='40'>Mercado Modelo, Bolívar</option>
<option value='41'>Nuevo París</option>
<option value='42'>Palermo</option>
<option value='43'>Parque Batlle, Villa Dolores</option>
<option value='44'>Parque Rodó</option>
<option value='45'>Paso de la Arena, Santiago Vázquez</option>
<option value='46'>Paso de las Duranas</option>
<option value='47'>Peñarol, Lavalleja</option>
<option value='48'>Piedras Blancas</option>
<option value='49'>Pocitos y La Mondiola</option>
<option value='50'>Prado, Nueva Savona</option>
<option value='51'>Punta Carretas</option>
<option value='52'>Punta de Rieles, Bella Italia</option>
<option value='53'>Punta Gorda</option>
<option value='54'>Reducto</option>
<option value='55'>Sayago</option>
<option value='56'>Tres Cruces</option>
<option value='57'>Tres Ombúes, Pueblo Victoria</option>
<option value='58'>Unión</option>
<option value='59'>Villa del Cerro</option>
<option value='60'>Villa Española</option>
<option value='61'>Villa García, Manga Rural</option>
<option value='62'>Villa Muñoz, Retiro, Goes</option>
