<option value="1">Artigas</option>
<option value="2">Canelones</option>
<option value="3">Cerro Largo</option>
<option value="4">Colonia</option>
<option value="5">Durazno</option>
<option value="6">Flores</option>
<option value="7">Florida</option>
<option value="8">Lavalleja</option>
<option value="9">Maldonado</option>
<option value="10">Montevideo</option>
<option value="11">Paysandú</option>
<option value="12">Río Negro</option>
<option value="13">Rivera</option>
<option value="14">Rocha</option>
<option value="15">Salto</option>
<option value="16">San José</option>
<option value="17">Soriano</option>
<option value="18">Tacuarembó</option>
<option value="19">Treinta y Tres</option>