
									<!-- Medicos disponible -->
									<option value='0'>Seleccione un nombre</option>
									<option value='1'>Agustín Codazzi</option>
									<option value='2'>Ana Romanov</option>
									<option value='3'>Aria Cabrera</option>
									<option value='4'>Arturo Péndragon</option>
									<option value='5'>Carlos Villasmil</option>
									<option value='6'>Estefanía Muller</option>
									<option value='7'>Gregorio Hernández</option>
									<option value='8'>José Martínez</option>
									<option value='9'>Juan García</option>
									<option value='10'>Juan Landaeta</option>
									<option value='11'>Osiris Guarecuco</option>
									<option value='12'>Paola Vargas</option>
									<option value='13'>Patricia Valladares</option>
									<option value='14'>Pedro Guerra</option>
									<option value='15'>Rafael Marín</option>
									<option value='16'>Roberto Capriles</option>
									<option value='17'>Verónica Aular</option>
									<option value='18'>Wilka MacGregor</option>
