  <!-- ********** PERFIL ADMON -->
  <section id="perfil-admon" class="">
	  <div class="contenedor">
	  	<div class="row">
	  		<div class="shrink columns">
	  			<div class="foto-cont">
	  				<a href="bombero01.html" target="_top"><img class="foto" src="assets/img/perfil-admon.jpg" alt="Perfil Admon"></a>
	  			</div>
	  		</div>
	  		<div class="columns align-self-middle">
	  			<div class="cont-datos-admon">
	  				<span class="nombre-admon">Ángel González</span>
	  				<span class="cargo-admon">Capitán</span>	  				
	  			</div>
	  		</div>
	  	</div>
	  </div>
	</section>
  <!-- /. PERFIL ADMON -->