<!-- ********** PERFIL CLIENTE -->
					<section id="perfil-cliente" class="">
					  <div class="contenedor">
					  	<div class="row">
					  		<div class="shrink columns">
					  			<div class="foto-cont">
					  				<a href="#" target="_top"><img class="foto" src="assets/img/perfil-cliente.jpg" alt="Perfil Cia"></a>
					  			</div>
					  		</div>
					  		<div class="columns align-self-middle">
					  			<div class="cont-datos-operador">
					  				<span class="nombre-operador">Micaela Hernández</span>
					  				<span class="cargo-operador">Gerente de RRHH</span>	  				
					  			</div>
					  		</div>
					  	</div>
					  </div>
					</section>
					<!-- /. PERFIL CLIENTE -->