  <!-- ********** PERFIL OPERADOR -->
  <section id="perfil-operador" class="">
	  <div class="contenedor">
	  	<div class="row">
	  		<div class="shrink columns">
	  			<div class="foto-cont">
	  				<a href="bombero01.html" target="_top"><img class="foto" src="assets/img/perfil-operador.jpg" alt="Perfil Operador"></a>
	  			</div>
	  		</div>
	  		<div class="columns align-self-middle">
	  			<div class="cont-datos-operador">
	  				<span class="nombre-operador">Alexander Osteicoechea</span>
	  				<span class="cargo-operador">Operador</span>	  				
	  			</div>
	  		</div>
	  	</div>
	  </div>
	</section>
  <!-- /. PERFIL OPERADOR -->