  <!-- ********** PERFIL BOMBERO -->
  <section id="perfil-bombero" class="">
	  <div class="contenedor">
	  	<div class="row">
	  		<div class="shrink columns">
	  			<div class="foto-cont">
	  				<a href="bombero01.html" target="_top"><img class="foto" src="assets/img/perfil-bombero.jpg" alt="Perfil Bombero"></a>
	  			</div>
	  		</div>
	  		<div class="columns align-self-middle">
	  			<div class="cont-datos-bombero">
	  				<span class="nombre-bombero">Josefina Villalobos</span>
	  				<span class="cargo-bombero">Teniente</span>	  				
	  			</div>
	  		</div>
	  	</div>
	  </div>
	</section>
  <!-- /. PERFIL BOMBERO -->