
	<!-- ************* CORE JS -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/sweetalert2.all.min.js"></script>
	<script src="assets/js/select2.min.js"></script>
	<script src="assets/js/what-input.min.js"></script>
	<script src="assets/js/foundation.min.js"></script>
	<script src="assets/js/coordenadas.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiPl8qyIqEU8MWTi7W3kArAhlv4VogU1I&callback=initMap"
		async defer></script>
	<script src="assets/js/emergencias.min.js"></script>
	<script src="assets/js/app.min.js"></script>
</body>
</html>