<!-- Tabla funcionarios -->
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
  </head>
  <body>
    <table id="tabla1" class="hover">
      <thead>
        <tr>
          <th>Nº</th>
          <th>Nombre</th>
          <th>Apellido 1</th>
          <th>Sexo</th>
          <th>Barrio</th>
          <th>Departamento</th>
        </tr>
      </thead>
      <tbody id="datos1">
        <tr>
          <th>1</th>
          <td>Ángel</td>
          <td>Recio</td>
          <td class="text-center">M</td>
          <td>Ciudad Vieja</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Jesús</td>
          <td>Fernández</td>
          <td class="text-center">M</td>
          <td>Goes</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>3</th>
          <td>Raquel</td>
          <td>Gallego</td>
          <td class="text-center">F</td>
          <td>Ituzaingó</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>4</th>
          <td>Alberto</td>
          <td>López</td>
          <td class="text-center">M</td>
          <td>Cordón</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>5</th>
          <td>Manuela</td>
          <td>León</td>
          <td class="text-center">F</td>
          <td>Carrasco</td>
          <td>Maldonado</td>
        </tr>
        <tr>
          <th>6</th>
          <td>María Teresa</td>
          <td>Ortiz</td>
          <td class="text-center">F</td>
          <td>Manga Rural</td>
          <td>Canelones</td>
        </tr>
        <tr>
          <th>7</th>
          <td>Francisco Javier</td>
          <td>Alcaraz</td>
          <td class="text-center">M</td>
          <td>La Blanqueada</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>8</th>
          <td>María Carmen</td>
          <td>Gallego</td>
          <td class="text-center">F</td>
          <td>Jardines del Hipódromo</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>9</th>
          <td>María Dolores</td>
          <td>García</td>
          <td class="text-center">F</td>
          <td>Palermo</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>10</th>
          <td>Vicente</td>
          <td>Ruiz</td>
          <td class="text-center">M</td>
          <td>Pocitos</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>11</th>
          <td>Mercedes</td>
          <td>González</td>
          <td class="text-center">F</td>
          <td>Peñarol</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>12</th>
          <td>Raúl</td>
          <td>Martin</td>
          <td class="text-center">M</td>
          <td>Reducto</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>13</th>
          <td>María</td>
          <td>García</td>
          <td class="text-center">F</td>
          <td>Unión</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>14</th>
          <td>María Carmen</td>
          <td>Maeso</td>
          <td class="text-center">F</td>
          <td>Villa del Cerro</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>15</th>
          <td>María</td>
          <td>Company</td>
          <td class="text-center">F</td>
          <td>Cerrito de la Victoria</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>16</th>
          <td>Carmen</td>
          <td>Martin</td>
          <td class="text-center">F</td>
          <td>Abayuba</td>
          <td>Canelones</td>
        </tr>
        <tr>
          <th>17</th>
          <td>Ana Isabel</td>
          <td>León</td>
          <td class="text-center">F</td>
          <td>Casavalle</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>18</th>
          <td>Andrés</td>
          <td>Méndez</td>
          <td class="text-center">M</td>
          <td>Cordón</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>19</th>
          <td>María Dolores</td>
          <td>Martínez</td>
          <td class="text-center">F</td>
          <td>Sayago</td>
          <td>Canelones</td>
        </tr>
        <tr>
          <th>20</th>
          <td>Javier</td>
          <td>De la Rosa</td>
          <td class="text-center">M</td>
          <td>Parque Rodó</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>21</th>
          <td>María</td>
          <td>Cantero</td>
          <td class="text-center">F</td>
          <td>Tomkinson</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>22</th>
          <td>Jorge</td>
          <td>Rayo</td>
          <td class="text-center">M</td>
          <td>Tres Cruces</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>23</th>
          <td>Sergio</td>
          <td>Martínez</td>
          <td class="text-center">M</td>
          <td>La Mondiola</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>24</th>
          <td>Carmen</td>
          <td>Blanco</td>
          <td class="text-center">F</td>
          <td>Goes</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>25</th>
          <td>Cristina</td>
          <td>Heras</td>
          <td class="text-center">F</td>
          <td>Lezica</td>
          <td>San José</td>
        </tr>
        <tr>
          <th>26</th>
          <td>Laura</td>
          <td>Hernández</td>
          <td class="text-center">F</td>
          <td>Colón Centro y Noroeste</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>27</th>
          <td>Ana María</td>
          <td>Blas</td>
          <td class="text-center">F</td>
          <td>Brazo Oriental</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>28</th>
          <td>Fernando</td>
          <td>Moreno</td>
          <td class="text-center">M</td>
          <td>Belvedere</td>
          <td>Montevideo</td>
        </tr>
        <tr>
          <th>29</th>
          <td>Raquel</td>
          <td>Rodríguez</td>
          <td class="text-center">F</td>
          <td>Lezica</td>
          <td>San José</td>
        </tr>
        <tr>
          <th>30</th>
          <td>José</td>
          <td>López</td>
          <td class="text-center">M</td>
          <td>Goes</td>
          <td>Montevideo</td>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
  </body>
</html>
